*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cuerpoPerfil
{
    display: inline-block;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    user-select: none;
    border: 7px solid #a1ceb2;
    background-color: #a1ceb2;
}

.contenedorNombreLogo
{
    width: 95%;
    height: 55%;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    user-select: none;
    border: 2px solid #1c5059;
    background-color: #1c5059;
    margin-bottom: 7px;
}

.contenedorServicioEnProceso
{
    display: table-cell;
    border-radius: 20px;
    border: 2px solid #1c5059;
    background-color: #1c5059;
    height: 175px;
    color: #ffff;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}
.contenedorPrincipal
{
    width: 95%;
    height: 55%;
    display: table;
    user-select: none;
    border-radius: 20px;
    user-select: none;
    margin: auto;
    padding: 5px;
    
}


.cuerpoPerfil h1
{
    text-align: center;
    font-size: 25px;
    color: rgb(60, 96, 240);
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

.cuerpoPerfil p
{
    text-align: center;
    font-size: 21px;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

.userLogoProfile
{
    display: block;
    margin: 5px auto 5px auto;
    width: 135px;
    height: 135px;
}


.row
{
    display: table-row;
    text-align: center;
}

.cell
{
    display: table-cell;
    vertical-align: middle;
    color: #1c5059;
    font-family: 'Arial', sans-serif;
    font-weight: 800;
}
.contenedorBoton
{
    display: table-cell;
    border-radius: 20px;
    border: 2px solid #000000;
    height: 175px;
}
.contenedorEditarPerfil
{
    display: table-cell;
    /* border: 5px solid red; */
    height: 50px;
}


.contenedorCerrarSesion button
{
    width: 80%;
    background-color: #a1ceb2;
    border-radius: 15px;
    cursor: pointer;
    color: #1c5059;
    margin-top: 30px;
}
