*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.control
{
width: 100%;
background-color: #24303c;
color: white;
padding: 8px;
border-radius: 4px;
margin-bottom: 10px;
border: 1px solid #f4f4f4;
font-size: 18px;
}

.Registro {
  background-color: #a1ceb2;
}
.textl {
  color: #1c5059;
  height: 7vh;
  font-weight: 600;
}
.Registro a{
  color: #1c5059;
}

.h1{
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  color: #a1ceb2;
}


.boton
{
width: 100%;
background-color: #1f535c;
border: none;
padding: 10px;
color: white;
margin-bottom: 10px;
font-size: 16px;
cursor: pointer;
}

.text {
  text-align: center;
  text-decoration: none;
}

