*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.control
{
width: 100%;
background-color: #24303c;
color: white;
padding: 8px;
border-radius: 4px;
margin-bottom: 10px;
border: 1px solid #f4f4f4;
font-size: 18px;
}

.Registro
{
  width: 400px;
  background-color: #24303c;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  color: white;
  background-color: #a1ceb2;
  height: auto;
}
.textl {
  color: #1c5059;
  height: 7vh;
  font-weight: 600;
  font-size: 30px;
}
.Registro a{
  color: #1c5059;
}

.h1{
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  color: #a1ceb2;
}


.boton
{
width: 100%;
background-color: #1f535c;
border: none;
padding: 10px;
color: #a1ceb2;
margin-bottom: 10px;
font-family: 'Arial', sans-serif;
font-weight: 600;
font-size: 16px;
cursor: pointer;
}

.text {
  text-align: center;
  text-decoration: none;
}


